@use 'color';
@use 'font';


$bgcolor: #6A9C89;
$myPadding: 16px;



@mixin box-shadow  {  
  -webkit-box-shadow: 10px 10px 19px -4px rgba(255, 255, 255, 0.75);
  -moz-box-shadow: 10px 10px 19px -4px rgba(255, 255, 255, 0.75);
  box-shadow: 10px 10px 19px -4px rgba(255, 255, 255, 0.75);
}


body {
    font: 100% font.$font-stack;
    color: color.$primary-color;
    margin: 0px;
    $myPadding: 0px;
    background-color: $bgcolor;
    background-image: radial-gradient(
        #fff,
        rgba(255, 255, 255, 0.2) 2px,
        transparent 40px
      ),
      radial-gradient(#fff, rgba(255, 255, 255, 0.15) 1px, transparent 30px),
      radial-gradient(#fff, rgba(255, 255, 255, 0.1) 2px, transparent 40px),
      radial-gradient(
        rgba(255, 255, 255, 0.4),
        rgba(255, 255, 255, 0.1) 2px,
        transparent 30px
      );
    background-size: 550px 550px, 350px 350px, 250px 250px, 150px 150px;
    background-position: 0 0, 40px 60px, 130px 270px, 70px 100px;
    background-attachment: fixed;
    
    .button {
      text-align: center;
      box-sizing: border-box;
      flex-grow: 1;
      flex-basis: 45%;
      border: 1px silver solid;
      $myPadding: 20px;
      padding: $myPadding*2;
      margin: 16px;
      clear: both;
      overflow: auto;
      box-sizing: border-box;
      @include box-shadow;
       
      

        a {
          background-color:#c8c8c8;
          $myPadding: 5px;
          padding: $myPadding*2;
          color: $bgcolor;
          border-radius: 20px;
          font-family: font.$font-stack;
        }
      }

  }


  /*Article*/
  article {
    display: flex;
    flex-wrap: wrap;


    section {
      flex-grow: 1;
      flex-basis: 45%;
      border: 1px silver solid;
      padding: $myPadding;
      margin: 16px;
      clear: both;
      overflow: auto;
      box-sizing: border-box;
      @include box-shadow;
    }
      section#selling-points {
        flex-grow: 2;
        flex-basis: 100%;
      }


      pre {
        background: #000;
        border: 1px solid #ddd;
        color: #666;
        font-family: monospace;
        font-size: 15px;
        line-height: 1.6;
        margin-bottom: 1.6em;
        max-width: 100%;
        overflow: auto;
        padding: $myPadding;
        display: block;
        white-space: pre-wrap;
        
  
        pre.before {
          float: left;
          width: 40%;
        }
        
        pre.after {
          float: right;
          width: 40%;
        }
    }
  }
  

    h1 {
      color: color.$primary-color;
      text-align: center;
    }

    h6 {
      text-align: center;
      font-size: 2em;
      padding: $myPadding*2;
      margin-bottom: 0px;
      color: color.$primary-color;
    }

    h2 {
      color: color.$primary-color;
    }

    
      .message {
        border: 1px solid #ccc;
        padding: $myPadding;
        margin: 16px;
        color: color.$primary-color;
        background-color: $bgcolor;
      }
    
   

    .success {
      @extend .message;
      background-color: color.$secondary-color;
    }
    
    .error {
      @extend .message;
      background-color: color.$tertiary-color;
    }
    
    .warning {
      @extend .message;
      background-color: color.$fourthiary-color;
    }
  